<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.outsystems.plugins.SecureSQLiteBundle"
    version="2.0.11">

    <name>Cordova OutSystems secure SQLite bundle</name>
    <license>MIT</license>
    <keywords>sqlcipher</keywords>
    <description>Bundle of SQLite plugins and initialization code for easy use with the OutSystems Platform</description>
    <author>OutSystems</author>

    <js-module src="www/outsystems-secure-sqlite-init.js" name="OutSystemsSecureSQLiteBundle">
        <clobbers target="OutSystemsSecureSQLiteBundle" />
    </js-module>

    <dependency id="cordova-sqlcipher-adapter" url="https://github.com/OutSystems/cordova-sqlcipher-adapter.git#0.1.7-OS7" />
    <dependency id="cordova-plugin-secure-storage" url="https://github.com/OutSystems/cordova-plugin-secure-storage.git#2.6.8-OS7" />
    
    <dependency id="outsystems-plugin-disable-backup" url="https://github.com/OutSystems/outsystems-plugin-disable-backup.git#1.0.2" />

    <engines>
        <engine name="cordova" version=">=6.4.0"/>
        <engine name="cordova-android" version=">=6.0.0"/>
    </engines>
</plugin>

<!-- vim: set expandtab : -->
