<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.outsystems.plugins.SecureSQLiteBundle"
    version="1.1.1">

    <name>Cordova OutSystems secure SQLite bundle</name>

    <license>MIT</license>

    <keywords>sqlcipher</keywords>

    <description>Bundle of SQLite plugins and initialization code for easy use with the OutSystems Platform</description>

    <author>OutSystems</author>

    <js-module src="www/outsystems-secure-sqlite-init.js" name="OutSystemsSecureSQLiteBundle">
        <clobbers target="OutSystemsSecureSQLiteBundle" />
    </js-module>

    <dependency id="cordova-sqlcipher-adapter" url="https://github.com/OutSystems/cordova-sqlcipher-adapter.git" commit="0.1.7-os.3" />
    <dependency id="cordova-plugin-secure-storage" url="https://github.com/OutSystems/cordova-plugin-secure-storage.git" commit="2.6.8" />

</plugin>

<!-- vim: set expandtab : -->
